
<div class="drop-zone" (drop)="onFileSelected($event)" (dragover)="onDragOver($event)">
  <p>Drag and drop a CSV file here</p>
</div>
<div class="header" *ngIf="csvData">
  <button (click)="collapsed = !collapsed">{{ collapsed ? 'Show source data' : 'Hide source data' }}</button>
  <table *ngIf="!collapsed && csvData">
    <thead>
    <tr>
      <th >Employee Id</th>
      <th >Project Id</th>
      <th >From</th>
      <th >To</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empproj of sourceData">
      <td >{{ empproj.empId }}</td>
      <td >{{ empproj.projectId }}</td>
      <td >{{ empproj.dateFrom | date: 'yyyy-MM-dd' }}</td>
      <td >{{ empproj.dateTo | date: 'yyyy-MM-dd'}}</td>
    </tr>
    </tbody>
  </table>
  <button class="header" *ngIf="csvData" (click)="onUpload()">Process Data</button>

  <table *ngIf="responseData">
    <thead>
    <tr>
      <th>Employee ID #1</th>
      <th>Employee ID #2</th>
      <th>Project ID</th>
      <th>Days worked</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of responseData">
      <td>{{ employee.empId1 }}</td>
      <td>{{ employee.empId2 }}</td>
      <td>{{ employee.project }}</td>
      <td>{{ employee.maxWorkingDays }}</td>
    </tr>
    </tbody>
  </table>
</div>

